[submodule "RLJO/pharama"]
	path = RLJO/pharama
	url = git@github.com:RLJO/pharama.git
	branch = main

[submodule "githubasifkhan/Alyaferp"]
	path = githubasifkhan/Alyaferp
	url = git@github.com:githubasifkhan/Alyaferp.git
	branch = main

[submodule "githubasifkhan/pms"]
	path = githubasifkhan/pms
	url = git@github.com:githubasifkhan/pms.git
	branch = main
